*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 20px;
}
.hero h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero h1 span{
    color: #ff2963;
}
/*textarea properties*/
textarea{
    width: 100%;
    height: 200px;
    background: #403d84;
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    color: #fff;
    font-size: 16px;
}
.row{
    width: 100%;
    display: flex;
    align-items: wrap;
    gap: 20px;
}
/*buttton properties*/ 
button{
    background: #ff2963;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
/*button icon properties*/
.icon-btn{
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
/*select properties*/ 
select{
    flex: 1;
    color: #fff;
    background: #403d84;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
    width: 100%;
}

/*Media queries for responsiveness */
@media screen and (min-width: 768px) {
    .hero {
        padding: 40px;
    }
    .hero h1 {
        font-size: 3rem;
    }
    textarea {
        height: 250px; 
    }
    button {
        margin-bottom: 30px; 
    }
    .row {
        flex-wrap: nowrap; 
    }
    select {
        width: auto; 
        margin-bottom: 0;
        margin-right: 10px;
    }
    .icon-btn {
        padding: 12px 20px;
    }
}

@media screen and (min-width: 992px) {
    .hero h1 {
        font-size: 4.5rem;
    }
}